.board-column {
    float: left;
    width: 200px;
    border: 1px solid #b0b0c7;
    padding: 6px;
    margin: 3px;
}

.column-name {
    font-size: large;
    margin-bottom: 10px;
}

.board-card {
    border: 1px solid #999;
    width: 165px;
    height: 50px;
    margin: 10px;
    overflow: hidden;
}

.card-color {
    float: left;
    margin-right: 6px;
    width: 8px;
    height: 100%;
    background-color: dodgerblue;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.boards {
    margin: 10px;
}

.sprint-replay-controls .boards, .sprint-replay-controls .intervals, .sprint-replay-controls .replay-button {
  display: inline-block;
  margin: 10px;
}

.board-container {
    padding: 5px;
}

.sprint-replay-container {
    
}