.board-column {
    float: left;
    width: 200px;
    border: 2px solid #9d9db8;
    padding: 6px;
    margin: 3px;
}

.column-name {
    font-size: large;
    margin-bottom: 10px;
}

.board-card {
    border: 1px solid #999;
    width: 165px;
    height: 50px;
    margin: 10px;
}

.card-id {
    float: left;
}

.card-title {
    float: left;
    padding: 3px;
    font-size: medium;
}

